* {
    font-family: 'Work Sans', sans-serif;
    margin: 0;
    padding: 0;
}

/*===navbar css start===*/
.navbar-main {
    padding: 30px 240px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #FFF;
    box-shadow: 0px 4px 30px 0px #0000000d;
}

.img-first-content {
    color: #FF42A5;
}

.image-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.nav ul {
    display: flex;
    align-items: center;
    position: relative;
}

.nav ul li {
    list-style-type: none;
}

.nav ul button {
    padding: 17px 122px 18px 24px;
    border-radius: 8px;
    border: 0;
    background: #0b02231a;
    color: #3C354F;
    text-align: center;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
}

.youtube-icon {
    width: 88px;
    height: 60px;
}

.tiktok-icon {
    width: 24px;
    height: 24px;
}

.nav ul li a {
    text-decoration: none;
    margin-right: 32px;
    color: #3C354F;
    text-align: center;
    font-size: 18px;
    font-weight: 500;
}

.nav-img-main {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 0;
    padding: 0 24px;
}

.btn-nav {
    padding-top: 37px;
}

/*===navbar css end===*/
/*===goat css start===*/
.goat-main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* padding: 0 145px; */
}

.goat-content {
    width: 100%;
    background-image: url('../images/Group\ 14.png');
    background-repeat: no-repeat;
    width: 900px;
    height: 700px;
    /* margin: 0 145px; */
}

.goat-heading-para {
    padding: 0 240px;
    margin-top: 148px;
}

.goat-heading-para h2 {
    color: #0B0223;
    font-size: 48px;
    font-weight: 600;
    text-transform: uppercase;
}

.goat-heading-para h1 {
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 95px;
    font-weight: 800;
    text-transform: uppercase;
}

.goat-heading-para p {
    color: #534C64;
    text-align: left;
    font-size: 20px;
    font-weight: 500;
    text-transform: lowercase;
}

.sign-in-btn,
.go-rog-btn {
    border-radius: 48px;
    background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
    padding: 21px 40px;
    border: 0;
    color: #FFF;
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
    margin-top: 10px;
}

.go-rog-btn {
    background: #4EC5F7;
}

.goat-img-content {
    padding-right: 240px;
}

/*===goat css end===*/
/*===we are gaming css start===*/
.we-gaming-main {
    background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%);
}

.we-are-gaming-main-content {
    padding: 0 240px;
    display: flex;
    align-items: center;
}

.we-are-article {
    text-align: right;
    margin-top: 90px;
}

.we-are-article h1 {
    text-align: right;
    font-size: 48px;
    font-weight: 700;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.we-are-article h2 {
    color: #534C64;
    text-align: right;
    font-size: 32px;
    font-weight: 700;
    line-height: 45px;
}

.we-are-article p {
    color: #534C64;
    text-align: right;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin-top: 24px;
}

.know-more-btn {
    color: #FFF;
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
    border: 0;
    border-radius: 48px;
    background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
    padding: 21px 40px;
    margin-top: 32px;
}

/*===we are gaming css end===*/
/*===Funny Video css start===*/
.funny-video-main {
    margin-top: 120px;
}

.funny-vdo-heading {
    text-align: center;
}

.funny-vdo-heading h1 {
    color: #0B0223;
    font-size: 48px;
    font-weight: 700;
}

.funny-vdo-span {
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 48px;
    font-weight: 700;
}

.funny-vdo-heading p {
    color: #534C64;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}

.funny-vdo-box {
    padding: 0 240px;
    margin-top: 48px;
    display: flex;
    justify-content: space-between;
    gap: 24px;
}

.funny-vdo-cart {
    border-radius: 16px;
}

.funny-vdo-cart p {
    color: #534C64;
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
    margin-top: 24px;
}

/*===Funny Video css end===*/
/*===play instantly css start===*/
.play-instantly {
    margin-top: 120px;
    margin-left: 439px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.play-content {}

.play-content h1 {
    text-align: right;
    font-size: 48px;
    font-weight: 700;
    line-height: 60px;
}

.play-span {
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.play-content p {
    color: #534C64;
    text-align: right;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin-top: 16px;
}

.play-image {
    padding-right: 240px;
    position: relative;
    /* margin-left: 230px; */
}

.img-main img {
    position: relative;
}

.img-cartoon {
    position: absolute;
    bottom: -74px;
    left: -140px;
}

/*===play instantly css end===*/
/*===career css start===*/




/*===career css end===*/
/*===call to action css start===*/
.call-to-action {
    margin-top: 132px;
    background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%);
    padding-top: 120px;
    padding-bottom: 146px;
}

.games-btn {
    /* display: flex;
    justify-content: space-between;
    align-items: center; */
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 27px;
    flex-wrap: wrap;
    margin-right: 249px;
    margin-left: 200px;
}

.games-btn .cart {
    width: 248px;
    border-radius: 50px;
    background: #FFF;
    padding: 8px;
    margin-right: 0;
}

.games-btn .cart {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 27px;
    row-gap: 100px;
    margin-top: 81px;
    cursor: pointer;
}

.cart:hover {
    border: 1px solid #FF42A5;
    border-radius: 50px;
    background: #fff;
}

.cart:hover h2 {
    font-size: 16px;
    font-weight: 600;
    background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.cart h2 {
    color: #0B0223;
    font-size: 16px;
    font-weight: 600;
}

/*===call to action css end===*/
/*===footer css start===*/
.footer {
    background: #0B0223;
    padding-top: 120px;
    padding-bottom: 130px;
    text-align: center;
}

.logo {}

.footer-logo {}

.footer-logo h2 {
    text-align: center;
    font-size: 45px;
    font-weight: 700;
    color: #fff;
}

.footer-nav {
    margin-top: 56px;
}

.footer-nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-nav ul li {}

.footer-nav ul li a {
    text-decoration: none;
    margin-right: 60px;
    color: #FFF;
    text-align: center;
    font-size: 18px;
    font-weight: 600;

}

.footer-company-logo {
    margin-top: 66px;
}

.brand-logo {
    display: flex;
    justify-content: center;
}

.youtube-special {
    width: 50px;
    height: 50px;
}

.brand-logo-image {}

.brand-logo-image img {
    width: 57px;
    height: 40px;
    margin-right: 40px;
}

.footer-terms {
    margin-top: 74px;
    display: flex;
    justify-content: center;
}

.terms {}

.terms p {
    color: #ffffff99;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    margin-right: 60px;
}

.footer-copyright {
    margin-top: 20px;
}

.copyright {}

.copyright p {
    color: #ffffff99;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
}

/*===footer css end===*/

/*===Responsive design for mobile css start===*/
@media screen and (max-width: 576px) {
    .navbar-main {
        flex-direction: column;
        box-shadow: none;
        width: 100%;
    }

    .nav ul {
        flex-direction: column;
        margin-top: 60px;
        position: relative;
    }

    .nav ul li a {
        margin-top: 62px;
        font-size: 30px;
        line-height: 70px;
    }

    .nav-img-main {
        position: absolute;
        top: 40;
        bottom: 0;
    }

    .nav ul button {
        margin-top: 62px;
    }

    .goat-main {
        flex-direction: column-reverse;
        align-items: normal;
        margin-top: 78px;
    }

    .goat-content {
        margin: 0 140px;
    }

    .we-are-gaming-main-content {
        flex-direction: column;
    }

    .we-gaming-main {
        background: linear-gradient(90deg, #fff 0%, #fff 100%);
        padding: 0 190px;
    }

    .we-are-article {
        width: 500px;
        text-align: center;
    }

    .we-are-article h1,
    h2 {
        text-align: center;
    }

    .we-are-article h2 {
        text-align: center;
        font-size: 30px;
    }

    .we-are-article p {
        text-align: center;
    }

    .goat-img-content {
        margin-left: 100px;
    }

    .funny-vdo-box {
        flex-direction: column;
    }

    .funny-vdo-cart {
        width: 600px;
    }

    .funny-vdo-heading {
        width: 600px;
        margin-left: 130px;
    }

    .funny-vdo-heading h1 {
        font-size: 40px;
    }

    .play-instantly {
        flex-direction: column;
    }

    .play-content {
        width: 600px;
        margin-right: 230px;
    }

    .play-image {
        position: relative;
        margin-left: 230px;
        margin-top: 74px;
        padding: 0;
    }

    .call-to-action {
        background: linear-gradient(90deg, #fff 0%, #fff 100%);
        margin-left: 90px;
    }

    .games-btn {
        margin: 0 auto;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        justify-content: space-between;
        align-items: center;
        gap: 27px;
        flex-wrap: wrap;
    }

    .games-btn .cart {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 27px;
        margin-top: 0;
    }

    .footer {
        background: #0B0223;
        padding-top: 120px;
        padding-bottom: 130px;
        text-align: center;
        width: 1035px;
    }

    .footer-nav {}

    .nav {}

    .nav .ul-main {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        flex-wrap: wrap;
    }

    .footer-company-logo {}

    .brand-logo {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        flex-wrap: wrap;
    }

    .brand-logo-image {
        margin-top: 60px;
    }

    .footer-terms {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        width: 465px;
        margin: 0 auto;
        margin-top: 86px;
    }
    .footer-copyright{}
    .copyright p{
        color: #ffffff99;
        text-align: center;
        font-size: 15px;
        font-weight: 500;
        width: 235px;
        margin: 0 auto;
    }
}

/*===Responsive design for mobile css end===*/
/*===Responsive design for tablet css start===*/
@media screen and (min-width:577px) and (max-width: 960px) {
    .navbar-main {
        flex-direction: column;
        box-shadow: none;
        width: 100%;
    }

    .nav ul {
        flex-direction: column;
        margin-top: 60px;
        position: relative;
    }

    .nav ul li a {
        margin-top: 62px;
        font-size: 30px;
        line-height: 70px;
    }

    .nav-img-main {
        position: absolute;
        top: 40;
        bottom: 0;
    }

    .nav ul button {
        margin-top: 62px;
    }

    .goat-main {
        flex-direction: column-reverse;
        align-items: normal;
        margin-top: 78px;
    }

    .goat-content {
        margin: 0 140px;
    }

    .we-are-gaming-main-content {
        flex-direction: column;
    }

    .we-gaming-main {
        background: linear-gradient(90deg, #fff 0%, #fff 100%);
        padding: 0 190px;
    }

    .we-are-article {
        width: 500px;
        text-align: center;
    }

    .we-are-article h1,
    h2 {
        text-align: center;
    }

    .we-are-article h2 {
        text-align: center;
        font-size: 30px;
    }

    .we-are-article p {
        text-align: center;
    }

    .goat-img-content {
        margin-left: 100px;
    }

    .funny-vdo-box {
        flex-direction: column;
    }

    .funny-vdo-cart {
        width: 600px;
    }

    .funny-vdo-heading {
        width: 600px;
        margin-left: 130px;
    }

    .funny-vdo-heading h1 {
        font-size: 40px;
    }

    .play-instantly {
        flex-direction: column;
    }

    .play-content {
        width: 600px;
        margin-right: 230px;
    }

    .play-image {
        position: relative;
        margin-top: 74px;
        padding: 0;
    }

    .call-to-action {
        background: linear-gradient(90deg, #fff 0%, #fff 100%);
        margin-left: 200px
    }

    .games-btn {
        margin: 0 auto;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        justify-content: space-between;
        align-items: center;
        gap: 27px;
        flex-wrap: wrap;
    }

    .games-btn .cart {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 27px;
        margin-top: 0;
    }

    .footer {
        background: #0B0223;
        padding-top: 120px;
        padding-bottom: 130px;
        text-align: center;
        width: 1250px;
    }

    .footer-nav {}

    .nav {}

    .nav .ul-main {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        flex-wrap: wrap;
    }

    .footer-company-logo {}

    .brand-logo {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        flex-wrap: wrap;
    }

    .brand-logo-image {
        margin-top: 60px;
    }

    .footer-terms {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        width: 465px;
        margin: 0 auto;
        margin-top: 86px;
    }
    .footer-copyright{}
    .copyright p{
        color: #ffffff99;
        text-align: center;
        font-size: 15px;
        font-weight: 500;
        width: 235px;
        margin: 0 auto;
    }
}
/*===Responsive design for tablet css end===*/